<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.digitalfte.watchdog</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/hparacha/DigitalFTE/scripts/watchdog.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/hparacha/DigitalFTE</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/hparacha/DigitalFTE/vault/Logs/watchdog.out</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/hparacha/DigitalFTE/vault/Logs/watchdog.err</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>VAULT_PATH</key>
        <string>/Users/hparacha/DigitalFTE/vault</string>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
